<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAIL</title>
    <link rel="stylesheet" href="../views/detail.css">
</head>
<body>
    <header class="header__container">
        <div class="div__arrow">
            <a href="../index.html"><img src="../storage/img/arrow.svg"></a>
        </div>
        <div class="div__box">
            <div class="div__title">
                <h2>Coldplay <strong>: Music of the Spheres</strong></h2>
                <div class="div__info">
                    <img src="../storage/img/location.svg" alt="">
                    <span>Gelora Bung Karno Stadium, Jakarta</span>
                </div>
                <div class="div__info">
                    <img src="../storage/img/calendar.svg" alt="">
                    <span>November 15 2023</span>
                </div>
            </div>
            <div class="div__bottom">
                <div class="div__bottom-box">
                    <img src="../storage/img/profile-1.svg">
                    <img src="../storage/img/profile-2.svg">
                    <img src="../storage/img/profile-3.svg">
                </div>
                <div class="div__bottom-box-2">
                    <p>50K+ Participants</p>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="section__description">
            <article class="article__description">
                <span>Description</span>
                <div class="div__p">
                <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet <a href="#">Read More</a></p>
                </div>
            </article>
        </section>
        <section class="section__map">
                <span>Venue & Location</span>
                <div class="div__maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201880.5980623161!2d-122.60240908073061!3d37.75758525023957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sco!4v1739896903138!5m2!1sen!2sco" 
                    width="342px" 
                    height="212px" 
                    style="border:0;" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        </section>
    </main>
    <footer class="footer">
        <div class="div__footer">
            <div class="div__buy">
                <span>Start from</span>
                <h2>IDR1.100.000</h2>
            </div>
            <a href="../views/tickets.html">Buy Ticket</a>
        </div>
    </footer>
</body>
</html>