<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TICKETS</title>
    <link rel="stylesheet" href="../views/tickets.css">
</head>
<body>
    <header class="header__container">
        <div class="div__arrow">
            <a href="../views/detail.html"><img src="../storage/img/arrow.svg"></a>
        </div>
        <img src="../storage/img/dot.svg" alt="">
    </header>
    <main class="main">
        <section class="section__container">
            <img src="../storage/img/ticket-coldpay.svg">
            <article class="article__ticket">
                <div class="div__title">
                    <h1>Coldplay : Music of the Spheres</h1>
                    <span>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</span>
                </div>
                <img src="../storage/img/line.svg" alt="">  
                <div class="div__container">
                    <div class="div__caja">
                        <div class="div__box">
                            <span>Name</span>
                            <h2>Indriyani Puspita</h2>
                        </div>
                        <div class="div__box">
                            <span>Date</span>
                            <h2>Nov 15 2023</h2>
                        </div>
                        <div class="div__box">
                            <span>Gate</span>
                            <h2>Yellow</h2>
                        </div>
                    </div>
                    <div class="div__caja">
                        <div class="div__box">
                            <span>Order Number</span>
                            <h2>CLD09738PL</h2>
                        </div>
                        <div class="div__box">
                            <span>Time</span>
                            <h2>9:00 PM</h2>
                        </div>
                        <div class="div__box">
                            <span>Seat</span>
                            <h2>West B</h2>
                        </div>
                    </div>
                </div>
            </article>
            <div class="div__lines">
                <img src="../storage/img/Group 2.svg">
            </div>
            <div class="div__code">
                <img src="../storage/img/bar-code.svg" alt="">
                <span>Scan your barcode at the entry gate.</span>
            </div>
        </section>
        <section class="section__container">
            <img src="../storage/img/ticket-coldpay.svg">
            <article class="article__ticket">
                <div class="div__title">
                    <h1>Coldplay : Music of the Spheres</h1>
                    <span>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</span>
                </div>
                <img src="../storage/img/line.svg" alt="">  
                <div class="div__container">
                    <div class="div__caja">
                        <div class="div__box">
                            <span>Name</span>
                            <h2>Indriyani Puspita</h2>
                        </div>
                        <div class="div__box">
                            <span>Date</span>
                            <h2>Nov 15 2023</h2>
                        </div>
                        <div class="div__box">
                            <span>Gate</span>
                            <h2>Yellow</h2>
                        </div>
                    </div>
                    <div class="div__caja">
                        <div class="div__box">
                            <span>Order Number</span>
                            <h2>CLD09738PL</h2>
                        </div>
                        <div class="div__box">
                            <span>Time</span>
                            <h2>9:00 PM</h2>
                        </div>
                        <div class="div__box">
                            <span>Seat</span>
                            <h2>West B</h2>
                        </div>
                    </div>
                </div>
            </article>
            <div class="div__lines">
                <img src="../storage/img/Group 2.svg">
            </div>
            <div class="div__code">
                <img src="../storage/img/bar-code.svg" alt="">
                <span>Scan your barcode at the entry gate.</span>
            </div>
        </section>
    </main>
</body>
</html>